/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v29-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/raleway-v29-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 35px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo_img {
  max-width: 122px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 146px;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__link {
  color: #282B22;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.header__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 15px;
}

.header__btn_block {
  display: flex;
  align-items: center;
}

.header__menu {
  display: none;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background: transparent;
  border: none;
  background-image: url("../img/burger-menu.svg");
}

.header__phone_number {
  color: #3D4A39;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}
.header__phone_number::before {
  content: "";
  width: 22px;
  height: 22px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-image: url("../img/phone-icon.svg");
}

@media screen and (max-width: 1024px) {
  .header__nav {
    gap: 51px;
    margin-left: 40px;
  }
  .header__list {
    gap: 20px;
  }
  .header__menu {
    margin-left: 40px;
  }
}
@media screen and (max-width: 926px) {
  .header__list {
    display: none;
  }
  .header__nav {
    margin-left: auto;
  }
  .header__socials {
    margin-right: 15px;
  }
  .header__menu {
    display: inline-block;
  }
}
@media screen and (max-width: 530px) {
  .header__logo_img {
    max-width: 100px;
  }
  .header__socials {
    display: none;
  }
  .header__phone_number {
    display: none;
  }
}
.hero {
  padding-top: 120px;
  padding-bottom: 222px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/hero-bg-desk.jpg");
  z-index: -1;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%);
}

.hero__content {
  position: relative;
  z-index: 10;
  text-align: center;
}

.hero__title {
  max-width: 446px;
  margin: 0 auto;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero__text {
  max-width: 537px;
  margin: 0 auto;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 50px;
}

.hero__btn {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  padding: 22px 56px;
  background-color: #AE7B3C;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 1000px) {
  .hero {
    background-image: url("../img/hero-bg-tablet1.jpg");
  }
}
@media screen and (max-width: 650px) {
  .hero {
    background-image: url("../img/hero-bg-tablet2.jpg");
  }
}
@media screen and (max-width: 530px) {
  .hero {
    background-image: url("../img/hero-bg-mobile.jpg");
  }
  .hero__title {
    font-size: 28px;
  }
  .hero__text {
    font-size: 16px;
  }
}
.images {
  padding-top: 140px;
  padding-bottom: 140px;
}

.images__title {
  color: #282B22;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 125%;
  text-transform: uppercase;
  margin-bottom: 80px;
}
@media screen and (max-width: 640px) {
  .images__title {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  .images__title {
    font-size: 24px;
  }
}

.images__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  border-right: 1px solid #8d8f8b;
}

.image__card {
  max-width: 100%;
  width: 100%;
  padding-left: 29px;
  padding-right: 29px;
  border-left: 1px solid #8d8f8b;
}
.image__card::before {
  content: "01";
  display: inline-block;
  top: 0;
  left: 29px;
  margin-bottom: 60px;
  opacity: 0.5;
  color: #282B22;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
}
.image__card:nth-child(2)::before {
  content: "02";
}
.image__card:nth-child(3)::before {
  content: "03";
}

.images__card_title {
  color: #3D4A39;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 30px;
}

.images__card_img {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 1090px) {
  .images__cards {
    border-right: none;
    row-gap: 60px;
  }
}
@media screen and (max-width: 739px) {
  .image__card {
    border-left: none;
    padding: 0;
  }
}
@media screen and (max-width: 360px) {
  .images__cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.offer {
  padding: 100px 0;
  background-color: #3D4A39;
}

.offer__title {
  color: #282B22;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 70px;
}
@media screen and (max-width: 640px) {
  .offer__title {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  .offer__title {
    font-size: 24px;
  }
}

.offer__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 72px;
}

.offer__card {
  text-align: center;
  max-width: 278px;
}
.offer__card img {
  max-width: 66px;
}

.offer__card_title {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  opacity: 0.5;
}

@media screen and (max-width: 640px) {
  .offer__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .offer__card_title {
    font-size: 18px;
  }
}
.project {
  padding-top: 100px;
}

.project__wrapper {
  padding-top: 40px;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.project__wrapper::before {
  content: "";
  width: 160px;
  height: 200px;
  left: 0;
  top: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/project-img.jpg");
}
.project__wrapper::after {
  content: "";
  width: 160px;
  height: 200px;
  right: 10px;
  bottom: 96px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/project-img.jpg");
}

.project__title {
  max-width: 814px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  color: #282B22;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
}

.project__content_block {
  border-bottom: 1px solid #282B22;
}

.project__block {
  max-width: 926px;
  border-top: 1px solid #282B22;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}
.project__block::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #282B22;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.project__content {
  padding: 34px 60px 35px 33px;
}

.project__content2 {
  margin-left: 93px;
}

@media screen and (max-width: 1250px) {
  .project__wrapper::before {
    content: none;
  }
  .project__wrapper::after {
    content: none;
  }
}
@media screen and (max-width: 640px) {
  .project__title {
    font-size: 20px;
    font-weight: 600;
  }
  .project__block {
    flex-direction: column;
  }
  .project__block::before {
    content: none;
  }
  .project__content2 {
    margin-left: 0;
  }
  .project__content:not(:last-child) {
    border-bottom: 1px solid #282B22;
  }
}
.table {
  padding-top: 140px;
}

.table__title1 {
  color: #282B22;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 125%;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .table__title1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  .table__title1 {
    font-size: 24px;
  }
}

.table__block {
  border-top: 1px solid #282B22;
  border-bottom: 1px solid #282B22;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.table__item1 {
  padding-top: 50px;
}
.table__item1::before {
  content: "01";
  color: #282B22;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  opacity: 0.3;
}

.table__item2 {
  padding: 50px 40px;
  position: relative;
}
.table__item2::before {
  content: "";
  width: 1px;
  height: 68%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #282B22;
}

.table__title {
  color: #282B22;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 10px;
}

.table__text {
  color: #282B22;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
}

.table__item1,
.table__item2:not(:last-child) {
  border-bottom: 1px solid #282B22;
}

@media screen and (max-width: 615px) {
  .table__block {
    grid-template-columns: 1fr;
  }
  .table__item1 {
    display: none;
  }
  .table__item2 {
    padding: 30px 10px;
  }
  .table__item2::before {
    content: none;
  }
  .table__title::before {
    content: "01";
    color: #282B22;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    opacity: 0.3;
    display: inline-block;
    margin-right: 13px;
  }
  .table__title:nth-child(2)::before {
    content: "02";
  }
  .table__title:nth-child(3)::before {
    content: "03";
  }
  .table__title:nth-child(4)::before {
    content: "04";
  }
  .table__title:nth-child(5)::before {
    content: "05";
  }
  .table__text {
    margin-left: 40px;
  }
}/*# sourceMappingURL=main.css.map */