@mixin flexB {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin mainTitle{
    color: #282B22;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
    font-weight: 600;
    line-height: 125%;
    text-transform: uppercase;
}

@mixin mainButton{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%; 
    padding: 22px 56px;
    background-color: #AE7B3C;
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border: none;   
}