.images {
    padding-top: 140px;
    padding-bottom: 140px;
}

.images__title {
    @include mainTitle;
    margin-bottom: 80px;
}

.images__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    border-right: 1px solid #8d8f8b;
}

.image__card {
    max-width: 100%;
    width: 100%;
    padding-left: 29px;
    padding-right: 29px;
    border-left: 1px solid #8d8f8b;

    &::before {
        content: "01";
        display: inline-block;
        top: 0;
        left: 29px;
        margin-bottom: 60px;
        opacity: 0.5;
        color: #282B22;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
    }

    &:nth-child(2)::before {
        content: "02";
    }

    &:nth-child(3)::before {
        content: "03";
    }
}

.images__card_title {
    color: #3D4A39;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 30px;
}

.images__card_img {
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 1090px) {
    .images__cards {
        border-right: none;
        row-gap: 60px;
    }
}

@media screen and (max-width: 739px) {
    // .images__cards {
    //     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // }

    .image__card {
        border-left: none;
        padding: 0;
    }
}

@media screen and (max-width: 360px) {
    .images__cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}