.images {
    padding-top: 140px;
    padding-bottom: 140px;
}

.images__title {
    @include mainTitle;
    margin-bottom: 80px;
}

.images__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image__card {
    padding-left: 29px;
    padding-right: 29px;
    border-left: 1px solid #8d8f8b;
    border-right: 1px solid #8d8f8b;

    &::before {
        content: "01";
        display: inline-block;
        top: 0;
        left: 29px;
        margin-bottom: 60px;
        opacity: 0.5;
        color: #282B22;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
    }

    &:nth-child(2)::before {
        content: "02";
    }

    &:nth-child(3)::before {
        content: "03";
    }
}

.images__card_title {
    color: #3D4A39;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 30px;
}

.images__card_img {
    max-width: 300px;
}

@media screen and (max-width: 1120px) {
    .image__card {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 60px;
    }

    .images__card_img {
        max-width: 280px;
    }
}

@media screen and (max-width: 650px) {
    .images__title {
        font-size: 36px;
    }

    .images__card_img {
        max-width: 260px;
    }

}

@media screen and (max-width: 320px) {
    .image__card {
        margin-bottom: 50px;
        &::before {
            font-size: 20px;
        }
    }

    .images__title {
        font-size: 28px;
    }

    .images__card_title {
        font-size: 20px;
    }

    .images__card_img {
        max-width: 260px;
    }

}