.offer{
    padding: 100px 0;
    background-color: #3D4A39;
}

.offer__title{
    @include mainTitle;
    color: #fff;
    margin-bottom: 70px;
}

.offer__cards{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   row-gap: 72px;
}

.offer__card{
    text-align: center;
    max-width: 278px;
    
    img{
        max-width: 66px;
    }
}

.offer__card_title{
    color:  #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    opacity: 0.5;
}


@media screen and (max-width: 640px) {
    .offer__cards{
        grid-template-columns: repeat(2, 1fr);
     }
    
    .offer__card_title{
        font-size: 18px;
    }
}
