.offer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #3D4A39;
}

.offer__title{
    @include mainTitle;
    color: #fff;
    margin-bottom: 70px;
}

.offer__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 185px;
    flex-wrap: wrap;
}

.offer__card{
    margin-bottom: 70px;
    text-align: center;
    max-width: 278px;
    
    img{
        max-width: 66px;
    }
}

.offer__card_title{
    color:  #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    opacity: 0.5;
    margin-top: 29px;
}

@media screen and (max-width: 1010px) {
    .offer__cards{
        justify-content: center;
        column-gap: 135px;
    }
}

@media screen and (max-width: 640px) {
    .offer__title{
        font-size: 36px;
    }
    .offer__cards{
        column-gap: 60px;
    }

    .offer__card{
        img{
            max-width: 60px;
        }
    }

    .offer__card_title{
        font-size: 18px;
    }
}

@media screen and (max-width: 390px) {
    .offer__title{
        font-size: 24px;
    }
    .offer__cards{
        column-gap: 20px;
    }
}